[submodule "submodule/aaa"]
	path = submodule/aaa
	url = git@github.com:northpbear/git-submodule-aaa.git
[submodule "submodule/bbb"]
	path = submodule/bbb
	url = git@github.com:northpbear/git-submodule-bbb.git
